*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1903px;
    background-color: #262626!important;
    font-family: 'Roboto Mono', monospace;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    color: white;
}